@page "/itemTypes/edit/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Editar Item</h3>

@if (itemType is null)
{
     <div class="spinner"/>
}
else
{
    <ItemTypeForm @ref="itemTypeForm" ItemType="itemType" OnValidSubmit="EditAsync" ReturnAction="Return" />
}

@code {
    private ItemType? itemType;
    private ItemTypeForm? itemTypeForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<ItemType>($"/api/itemTypes/{Id}");
        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("itemTypes");
                return;
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
                return;
            }
        }
        itemType = responseHTTP.Response;
    }

    private async Task EditAsync()
    {
        var httpResponse = await repository.Put("/api/itemTypes", itemType);
        if (httpResponse.Error)
        {
            var messageError = await httpResponse.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }
        itemTypeForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/itemTypes");
    }

    private void Return()
    {
        itemTypeForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/itemTypes");
    }
}
