@page "/eventTypes/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Crear Evento</h3>

<EventTypeForm @ref="eventTypeForm" EventType="eventType" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private EventType eventType = new();
    private EventTypeForm? eventTypeForm;

    private async Task CreateAsync()
    {
        var httpResponse = await repository.Post("/api/eventtypes", eventType);
        if (httpResponse.Error)
        {
            var messageError = await httpResponse.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }
        eventTypeForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/eventTypes");
    }   

    private void Return()
    {
        eventTypeForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/eventTypes");
    }
}
